body {
  font-family: Arial, sans-serif;
  background: rgb(31, 30, 30);
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(129, 126, 126);
  border-radius: 8px;
  padding: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background: beige;
  border-radius: 10px;
  border: 0;
  transition: background-color 0.3s, transform 0.2s;
}
button:hover {
  background-color: #e0d4b7;
  transform: scale(1.05);
  cursor: pointer;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: #4e4b4b;
  border-radius: 4px;
  color: #f5f5dc;
  transition: background-color 0.3s, transform 0.2s;
}
li:hover {
  background-color: #e4e495;
  transform: scale(1.03);
  cursor: pointer;
}

#questionContainer.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#questionContainer {
  opacity: 1;
  transform: translateY(0);
}
#difficultyButtons.hidden {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#difficultyButtons {
  opacity: 1;
  transform: scale(1);
}

.container {
  animation: fadeSlideIn 0.8s ease forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}