.qacrisma {
  font-family: Arial, sans-serif;
  background: rgb(31, 30, 30);
  padding: 20px;
  text-align: center;
  min-height: 100vh;

  .container {
    max-width: 600px;
    margin: auto;
    background: rgb(129, 126, 126);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    animation: fadeSlideIn 0.8s ease forwards;
  }

  h1 {
    margin-top: 0;
  }

  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #444;
    background: beige;
    border-radius: 10px;
    border: 0;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #e0d4b7;
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
    padding: 10px;
    background: #4e4b4b;
    border-radius: 4px;
    color: #f5f5dc;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #6b6767;
      transform: scale(1.03);
      cursor: pointer;
    }
  }

  #questionContainer {
    opacity: 1;
    transform: translateY(0);

    &.hidden {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }

  #difficultyButtons {
    opacity: 1;
    transform: scale(1);

    &.hidden {
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }

  #howToPlayBtn {
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 4px 10px;
    font-size: 0.85rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #666;
    }
  }

  #scoreBoard {
    background-color: #e0d4b7;
    width: fit-content;
    margin: 15px auto 0;
    border-radius: 15px;
    padding: 10px;
    color: #444;

    h3 {
      margin-top: 0;
    }
  }

  .modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    @media (max-width: 768px) {
      top: 45%;
    }

    &-content {
      background-color: #e0d4b7;
      padding: 2rem;
      border-radius: 10px;
      width: 80%;
      max-width: 400px;
      position: relative;
      text-align: center;
    }
  }

  .close-modal {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    font-size: 24px;
  }

  .hidden {
    display: none;
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
