/* Contato.scss */
.contato-page {
  background-color: var(--color-bg);
  min-height: 100vh;
  padding: 50px 20px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 40px;
  }

  .contato-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;

    .card {
      background-color: var(--color-card);

      padding: 10px 25px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      text-align: center;
      min-width: 180px;
      transition: transform 0.2s, box-shadow 0.2s;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0,0,0,0.25);
      }
      svg{
        width: 40px;
        height: 40px;
      }

      a {
        color: var(--color-text);
        font-weight: 600;
        text-decoration: none;
        width: fit-content;
  margin: 0 auto;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .contato-form {
    width: 100%;
    max-width: 500px;
    background-color: var(--color-card);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-bottom: 40px;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      label {
        display: flex;
        flex-direction: column;
        font-weight: 500;

        input, textarea {
          margin-top: 5px;
          padding: 10px;
          border-radius: 8px;
          border: 1px solid var(--color-primary);
          background-color: var(--color-secondary);
          color: var(--color-text);
        }
      }

      button {
        background-color: var(--color-alternative);
        color: var(--color-text);
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--color-secondary);
        }
      }

      .status {
        margin-top: 10px;
        color: green;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
