.home {
  font-family: Arial, sans-serif;
  background-color: #6b6a6a;
  margin: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  flex: 1;

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 40px 20px;
  }

  .column {
    background: rgb(177, 175, 175);
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    min-width: 280px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #b16f24;
    }
  }



  
  @media (min-width: 650px) {
    .container {
      flex-direction: row;
      gap: 25px;
    }
  }
}
