
.header-bar {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  padding: 15px 40px;
  background-color: var(--color-primary);
  color: var(--color-text);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}
 .header-left .logo {

  font-size: 1.8em;

  font-weight: bold;

  color: var( --color-text);

} 
 .header-right a {

  margin-left: 25px;

  font-size: 20px;

  color: var( --color-text);

  text-decoration: none;

  font-weight: 500;

  transition: color 0.2s;

} 


.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  flex-direction: column;
  gap: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--color-text);
  transition: 0.3s;
}


@media (max-width: 768px) {
  .hamburger {
    display: flex; 
  }
  .header-left .logo {
    font-size: 1.2em;
  }
.header-bar {
  justify-content: space-between; 
  padding: 15px 10px;
}

  .header-right {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 70px; 
    right: 0;
    width: 50%;
    background-color: var(--color-primary);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    opacity: 0;            
    visibility: hidden;    
    transform: translateY(-10px);
    
    
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
  }

  .header-right.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .header-right a {
    margin: 15px 0;
    font-size: 22px;
    text-align: center;
    border-bottom: 2px solid;
  }
}