.header-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--color-primary);
  color: var( --color-text);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left .logo {
  font-size: 1.8em;
  font-weight: bold;
  color: var( --color-text);
}

.header-right a {
  margin-left: 25px;
  font-size: 20px;
  color: var( --color-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}