.ferramentas {
  background-color: var(--color-bg);
  min-height: 100vh;
  padding-bottom: 50px;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    min-height: 70vh;

    h2 {
      text-align: center;
      color: var(--color-text);
      margin-bottom: 40px;
    }

    .page-description {
      text-align: center;
      color: var(--color-text);
      font-size: 1.1rem;
      margin-bottom: 30px;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.5;
    }

    .tools-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 30px;

      .tool-card {
        background-color: var(--color-card);
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
        }

        h3 {
          margin-bottom: 15px;
          color: var(--color-text);
          text-align: center;
        }

        p {
          flex-grow: 1;
          color: var(--color-text);
          margin-bottom: 20px;
        }
        a{
            justify-content: center;
          display: flex;
        }

        .tool-btn {
          background-color: var(--color-alternative);
          color: var(--color-bg);
          border: none;
          padding: 10px 15px;
          border-radius: 8px;
          cursor: pointer;
          font-weight: 600;
          transition: background-color 0.2s;
          

          &:hover {
            background-color: var(--color-secondary);
          }
        }
      }
    }
  }
}
