.stack-slider {
  overflow: hidden;
  background: var(--color-bg);
  padding: 20px 0;

  .slider-track {
    display: flex;
    flex-wrap: nowrap;
    width: max-content; // largura do conteúdo real
    animation: scroll 30s linear infinite;
    
    .slider-item {
      flex: 0 0 auto;
      margin: 0 20px;

      img {
        height: 100px;
        width: auto;
        display: block;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &:hover .slider-track {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
