.footer {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 20px 0;
  font-size: 0.9rem;
  text-align: center;
  margin-top: auto;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;

    .footer-nav {
      a {
        color: var(--color-text);
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: var( --color-secondary);
        }
      }
    }
    .footer-socials {
      a {
        color: var(--color-text);
        margin: 0 8px;
        font-size: 1.2rem;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
      svg{
        width: 40px;
        height: 40px;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 0.8rem;
    color: var(--color-text);
  }
}
