.recomendacoes-carousel {
  background-color: var(--color-bg);
  padding: 50px 20px;
  text-align: center;

  .keen-slider {
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
  .keen-slider:not([data-keen-slider-disabled]) {
    .keen-slider__slide{
        overflow: visible;
    }
    overflow: visible;
  }

  .keen-slider__slide {
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: var(--color-card);
    color: var(--color-text);
    border-radius: 12px;
    padding: 20px;
    max-width: 500px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.35);
    }

    h3 {
      margin-bottom: 5px;
      font-size: 1.1rem;
      color: var(--color-text);
    }

    .cargo {
      font-size: 0.85rem;
      color: var(--color-alternative);
      margin-bottom: 10px;
    }

    .depoimento {
      font-size: 0.9rem;
      color: var(--color-text);
      line-height: 2;
      text-align: left;
      overflow-wrap: break-word;
    }
  }

  .buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;

    button {
      background-color: var(--color-primary);
      color: var(--color-bg);
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 1.3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;

      &:hover {
        background-color: var(--color-secondary);
        color: var(--color-card);
      }
    }
  }
    @media (max-width: 768px) {
    padding: 30px 10px;

    .card {
      max-width: 250px;
      h3 {
        font-size: 1rem;
      }
      .cargo {
        font-size: 0.8rem;
      }
      .depoimento {
        font-size: 0.75rem;
      }
    }

    .buttons {
      display: none;
    }
  }

}
